@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenue sur CourseApp</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui risus, interdum quis elit vel, maximus gravida.</p>

</div>

