
body nav.navbar {
    background: #3498db!important;
    padding: 20px 0;
    margin-bottom: 20px;
}
body nav.navbar a {
    color: white !important;
}

body {
    padding-top: 0 !important;
}

.btn-default {
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
}

.btn-default:hover {
    background-color: white;
    color: #3498db;
    transition: all 0.3s;
}